<div fxLayout="row" fxLayout.xs="column">
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Bar Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart width="500" height="200" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Doughnut Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart width="500" height="200" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row" fxLayout.xs="column">
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Radar Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart width="500" height="200" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Pie Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart width="500" height="200" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row" fxLayout.xs="column">
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Polar Area Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart width="500" height="200" [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Line Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart width="500" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>