<mat-card>
    <mat-card-header>
        <mat-card-title>Form Field</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Input">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Textarea"></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-select placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>