<div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" style="margin-bottom: 20px;">
    <div fxFlex>
        <app-auto-complete></app-auto-complete>
    </div>
    <div fxFlex>
        <app-date-picker></app-date-picker>
    </div>
</div>
<div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" style="margin-bottom: 20px;">
    <div fxFlex>

        <app-checkbox></app-checkbox>
    </div>
    <div fxFlex>
        <app-form-field></app-form-field>
    </div>
</div>

<div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" style="margin-bottom: 20px;">
    <div fxFlex>
        <app-slider></app-slider>
    </div>
</div>