<div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" style="margin-bottom: 20px;">
    <div fxFlex="50">
        <app-dialog></app-dialog>
    </div>
    <div fxFlex>
        <app-snack-bar></app-snack-bar>
    </div>
</div>

<div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" style="margin-bottom: 20px;">
    <div fxFlex>
        <app-bottom-sheet></app-bottom-sheet>
    </div>
    <div fxFlex>
        <app-tool-tip></app-tool-tip>
    </div>
</div>

<div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" style="margin-bottom: 20px;">
    <div fxFlex>
        <app-paginator></app-paginator>
    </div>
</div>

<div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" style="margin-bottom: 20px;">
    <div fxFlex>
        <app-progress-bar></app-progress-bar>
    </div>
</div>

<div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" style="margin-bottom: 20px;">
    <div fxFlex>
        <app-button></app-button>
    </div>
</div>